# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# pwa generated
/public/sw.js
/public/sw.js.map
/public/swe-worker-*.js

# logs
/logs/*
!/logs/.gitkeep

# local data
*.sqlite
*.sqlite3
/data/*.db
/data/*.db-shm
/data/*.db-wal
!/data/.gitkeep
/.env*.local
.env

# misc
.DS_Store
*.pem
.vscode/
.idea/

# debug
npm-debug.log*
pnpm-debug.log*
